h1 {
  font-family: Poppins, sans-serif;
  font-weight: 600; }

p {
  font-family: Open-sans, sans-serif;
  font-weight: 600; }

.nav {
  text-transform: uppercase;
  color: white;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (max-width: 865px) {
    .nav {
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch; } }
  .nav__logo {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    display: inline-block;
    position: relative;
    background-image: url("../images/Air.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 44px;
    height: 30px; }
    @media screen and (max-width: 865px) {
      .nav__logo {
        position: absolute;
        right: 40px;
        top: 35px;
        z-index: 2; } }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
    margin: 0; }
    @media screen and (max-width: 865px) {
      .nav__list {
        position: absolute;
        -webkit-transform: translateY(-160%);
                transform: translateY(-160%);
        background-color: gray;
        border-radius: 0 0 50px 50px;
        width: 100%;
        height: 400px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-transition: -webkit-transform 1s;
        transition: -webkit-transform 1s;
        transition: transform 1s;
        transition: transform 1s, -webkit-transform 1s;
        padding-left: 0; } }
  .nav__item {
    padding: 8px 24px;
    list-style: none;
    margin: 0 auto; }
    @media screen and (max-width: 865px) {
      .nav__item {
        height: 30px; } }
  .nav__link {
    position: relative;
    color: white;
    text-decoration: none;
    outline: none;
    font-weight: bold;
    font-size: 13px;
    line-height: 120px;
    letter-spacing: 3px;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .nav__link:hover {
      color: #2060f6; }
    .nav__link:before {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      opacity: 0;
      background-color: #2060f6;
      top: 27px;
      left: 0;
      border-radius: 2px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    .nav__link:focus::before {
      opacity: 1;
      background-color: #2060f6; }
    @media screen and (max-width: 865px) {
      .nav__link {
        font-size: 25px; } }
  .nav__toggler {
    display: none; }
  .nav__menu {
    z-index: 2;
    cursor: pointer; }
    .nav__menu::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      top: 40px;
      left: 40px;
      background-image: url(../images/menu.png);
      background-repeat: no-repeat;
      background-size: contain; }
    @media screen and (min-width: 865px) {
      .nav__menu {
        display: none; } }
  .nav__toggler:checked ~ .nav__list {
    position: absolute;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  .nav__toggler:checked + .nav__menu::after {
    content: "";
    background-image: url(../images/menu-x.svg);
    width: 30px;
    height: 30px; }

.nav__hire {
  padding-left: 7vw; }
  @media screen and (max-width: 1200px) {
    .nav__hire {
      padding-left: 0; } }

.header {
  background-color: #2c2c2c;
  padding: 0 100px; }
  @media screen and (max-width: 865px) {
    .header {
      padding: 0; } }
  .header__nav {
    height: 120px; }
    @media screen and (max-width: 865px) {
      .header__nav {
        height: 100%; } }

.section {
  padding: 0 104px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media screen and (max-width: 865px) {
    .section {
      padding: 50px 40px; } }
  .section__heading {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin: 128px 0 0;
    font-weight: 600;
    font-size: 52px;
    line-height: 150%;
    color: #253757; }
    @media screen and (max-width: 865px) {
      .section__heading {
        font-size: 35px;
        margin-top: 0; } }
  .section:nth-child(1) {
    background-color: #2c2c2c;
    border-radius: 0 0 30px 30px; }
  .section:nth-child(2) {
    height: 450px; }
  .section:nth-child(3) {
    background-color: white;
    border-radius: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 759px; }
    @media screen and (max-width: 865px) {
      .section:nth-child(3) {
        height: 1250px; } }
  .section:nth-child(4) {
    height: 750px; }
    @media screen and (max-width: 1011px) {
      .section:nth-child(4) {
        height: 1300px; } }
  .section:nth-child(5) {
    height: 976px;
    background-color: #2c2c2c;
    border-radius: 30px 0 0 30px;
    margin: 0 0 0 100px; }
    @media screen and (max-width: 1290px) {
      .section:nth-child(5) {
        margin: 0; } }
    @media screen and (max-width: 385px) {
      .section:nth-child(5) {
        height: 1010px; } }
  .section:nth-child(6) {
    height: 1027px; }
    @media screen and (max-width: 865px) {
      .section:nth-child(6) {
        height: 1800px; } }
  .section:nth-child(7) {
    height: 691px;
    background-color: white;
    background-position: center center;
    background-size: cover;
    background-image: url(../images/Shapes.svg);
    background-repeat: no-repeat; }
    @media screen and (max-width: 1011px) {
      .section:nth-child(7) {
        background-position: right; } }
  .section:last-child {
    height: 888px;
    background-color: #2c2c2c;
    border-radius: 30px 30px 0 0; }
  .section__wrap {
    background: white; }

.strategic-agency {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
  height: 673px;
  grid-gap: 30px; }
  @media screen and (max-width: 865px) {
    .strategic-agency {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  @media screen and (min-width: 1600px) {
    .strategic-agency {
      width: 1500px;
      position: relative; } }
  .strategic-agency__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translateX(-90px);
            transform: translateX(-90px); }
    @media screen and (max-width: 1200px) {
      .strategic-agency__text {
        -webkit-transform: translateX(0);
                transform: translateX(0); } }
    @media screen and (max-width: 865px) {
      .strategic-agency__text {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        margin-top: 25px; } }
  .strategic-agency__text-heading {
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;
    font-style: normal;
    color: white; }
    @media screen and (max-width: 865px) {
      .strategic-agency__text-heading {
        font-size: 35px;
        line-height: 30px;
        text-align: center; } }
  .strategic-agency__description {
    margin-bottom: 83px;
    font-family: Open-Sans, sans-serif;
    font-size: 18px;
    line-height: 150%;
    color: white; }
    @media screen and (max-width: 865px) {
      .strategic-agency__description {
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        margin-bottom: 40px; } }
  .strategic-agency__button {
    width: 226px; }
    @media screen and (max-width: 865px) {
      .strategic-agency__button {
        margin: 0 auto;
        width: 300px; } }

.button {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #2060f6;
  background: #2060f6;
  border-radius: 8px;
  color: white;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer; }
  .button:hover {
    background: #2c2c2c; }
  .button:focus {
    opacity: 0.5; }

.script {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .script__heading {
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #253757; }
    @media screen and (max-width: 865px) {
      .script__heading {
        text-align: center;
        margin-top: 60px; } }
  .script__text {
    width: 754px;
    font-family: Open-Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #6c788b; }
    @media screen and (max-width: 865px) {
      .script__text {
        width: 290px; } }

.expertise {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 264px);
  grid-gap: 10px;
  -ms-flex-line-pack: center;
      align-content: center; }
  @media screen and (max-width: 865px) {
    .expertise {
      grid-template-columns: 264px;
      grid-gap: 20px;
      padding-top: 100px; } }
  .expertise__photo {
    display: block;
    margin: 0 auto;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    width: 180px;
    height: 166px;
    border-radius: 12px; }
  .expertise__article {
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #253757;
    text-align: center;
    margin: 40px 0 16px; }
  .expertise__text {
    font-family: open-sans, sans-serif;
    text-align: center;
    color: #6c788b; }

.slider {
  position: absolute;
  right: 0;
  width: 687px;
  height: 680px;
  overflow: hidden;
  border-radius: 40px 0; }
  @media screen and (max-width: 1200px) {
    .slider {
      position: relative;
      width: 500px;
      height: 500px;
      bottom: -173px; } }
  @media screen and (max-width: 865px) {
    .slider {
      margin: 0 auto;
      width: 300px;
      height: 300px;
      bottom: -85px; } }
  @media screen and (max-width: 437px) {
    .slider {
      bottom: -61px; } }
  .slider__img {
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center;
       object-position: center; }
    @media screen and (max-width: 865px) {
      .slider__img {
        width: 300px;
        height: 300px; } }
  .slider__change {
    position: relative;
    width: 10000px;
    height: 680px; }
  .slider__article {
    position: absolute;
    bottom: 96px;
    left: 144px;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #ffff; }
  .slider__text {
    bottom: 50px;
    left: 144px;
    position: absolute;
    font-family: open-sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #ffff; }

@media screen and (max-width: 865px) {
  .slider__text {
    bottom: 35px; } }

.slider__change img {
  float: left; }

.arrow__left {
  left: 50px;
  background-image: url(../images/slider/arrow-left.svg); }

.arrow__right {
  left: 90px;
  background-image: url(../images/slider/arrow-right.svg); }

.arrow__left,
.arrow__right {
  position: absolute;
  bottom: 80px;
  display: block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #253757;
  background-size: 8px;
  background-position: center;
  border-radius: 50%;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .arrow__left:hover,
  .arrow__right:hover {
    background-color: #2c2c2c;
    opacity: 0.9;
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }

.process {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (max-width: 865px) {
    .process {
      grid-template-columns: 300px;
      padding: 5px;
      justify-items: center; } }
  .process__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media screen and (max-width: 865px) {
      .process__text {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 250px; } }
  .process__text-1 {
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #6c788b; }
  .process__text-article {
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: #253757; }
    @media screen and (max-width: 865px) {
      .process__text-article {
        font-size: 20px; } }
  .process__text-2 {
    color: #6c788b;
    font-size: 14px;
    line-height: 150%; }
  .process__frames {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 550px; }
    @media screen and (max-width: 1011px) {
      .process__frames {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 300px; } }
  .process__frame {
    z-index: 1;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 264px;
    height: 264px;
    background-color: #ffff;
    -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
            box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
    border-radius: 16px;
    padding: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .process__frame:nth-child(even) {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
    margin-top: 30px; }
    @media screen and (max-width: 1011px) {
      .process__frame:nth-child(even) {
        -webkit-transform: translateX(0%);
                transform: translateX(0%); } }
    @media screen and (max-width: 1011px) {
      .process__frame:nth-child(even) {
        margin-bottom: 30px; } }
  .process__frame:nth-child(odd) {
    -webkit-transform: translateY(80%);
            transform: translateY(80%); }
    @media screen and (max-width: 1011px) {
      .process__frame:nth-child(odd) {
        -webkit-transform: translateX(0%);
                transform: translateX(0%); } }
  .process__frame-text {
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    font-family: open-sans, sans-serif;
    color: #6c788b; }
  .process__frame-number {
    font-weight: 600;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    color: #2060f6;
    height: 24px;
    width: 46px;
    border-radius: 23px;
    background-color: rgba(32, 96, 246, 0.1); }
  .process__button {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border: 1px solid #2060f6;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #2060f6;
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .process__button:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }
  .process__action {
    margin-left: 16px;
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
    color: #334563; }

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.approach {
  display: grid;
  grid-template-columns: minmax(400px, 500px) 680px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (max-width: 1200px) {
    .approach {
      grid-template-columns: 1fr 1fr;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: start; } }
  @media screen and (max-width: 865px) {
    .approach {
      grid-template-columns: 1fr;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media screen and (min-width: 1600px) {
    .approach {
      width: 1400px;
      position: relative; } }
  .approach__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white; }
    @media screen and (max-width: 1200px) {
      .approach__text {
        margin-top: 50px; } }
    @media screen and (max-width: 865px) {
      .approach__text {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    @media screen and (min-width: 1600px) {
      .approach__text {
        margin-left: 100px; } }
  .approach__text-article {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px; }
  .approach__text-head {
    font-weight: 600;
    font-size: 32px;
    line-height: 150%; }
  .approach__text-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .approach__button {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 64px;
    height: 64px;
    background-color: white;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .approach__paragraph {
    margin-left: 30px;
    font-size: 15px;
    line-height: 150%; }
  .approach__img {
    width: 687px;
    height: 680px;
    border-radius: 30px 0 0;
    position: absolute;
    bottom: -7px;
    right: 0; }
    @media screen and (max-width: 1200px) {
      .approach__img {
        width: 500px;
        height: 500px; } }
    @media screen and (max-width: 865px) {
      .approach__img {
        position: static;
        width: 300px;
        height: 300px;
        border-radius: 30px;
        margin: 0 auto; } }
    @media screen and (max-width: 385px) {
      .approach__img {
        margin-top: 15px; } }

.testimonials {
  position: relative;
  width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (max-width: 865px) {
    .testimonials {
      grid-template-columns: 1fr;
      grid-gap: 20px;
      padding: 150px 0 50px; } }
  .testimonials__view {
    margin-top: 50px; }
  .testimonials__decor {
    height: 15px; }
  .testimonials__card {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 314px;
    height: 494px;
    background: #ffff;
    -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
            box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
    border-radius: 16px;
    padding: 32px; }
    @media screen and (max-width: 1200px) {
      .testimonials__card {
        padding: 5px;
        width: 250px; } }
    @media screen and (max-width: 865px) {
      .testimonials__card {
        width: 314px;
        height: 494px; } }
  .testimonials__img {
    position: relative;
    z-index: 2;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .testimonials__img:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }
  .testimonials__background {
    background-color: #2060f6;
    width: 139px;
    height: 56px;
    border-radius: 12px; }
  .testimonials__background:first-child {
    -webkit-transform: translate(-40%, -150px) rotate(-60deg);
            transform: translate(-40%, -150px) rotate(-60deg); }
  .testimonials__background:last-child {
    -webkit-transform: translate(40%, -120px) rotate(-60deg);
            transform: translate(40%, -120px) rotate(-60deg); }
  .testimonials__comas {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin: 45px 0 10px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../images/testimonials/coma.svg); }
  .testimonials__paragraph {
    text-align: center;
    font-size: 13px;
    line-height: 150%;
    color: #6c788b; }
  .testimonials__name {
    font-size: 13px;
    line-height: 150%;
    color: #253757; }
  .testimonials__profession {
    margin: 0;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7; }
  .testimonials__head {
    position: absolute;
    left: 45px;
    top: 148px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    color: #c0cdd7; }
    @media screen and (max-width: 865px) {
      .testimonials__head {
        top: 25px; } }
  .testimonials__article {
    position: absolute;
    left: 45px;
    top: 160px;
    color: #253757; }
    @media screen and (max-width: 865px) {
      .testimonials__article {
        top: 30px; } }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #2c2c2c;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  margin: 0 auto; }
  @media screen and (max-width: 865px) {
    .footer {
      height: 200px; } }
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media screen and (max-width: 865px) {
      .footer__container {
        display: grid;
        grid-template-columns: 1fr;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        grid-template-rows: 60px 100px; } }
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 865px) {
      .footer__list {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 0; } }
  .footer__item {
    list-style: none;
    padding: 8px 24px;
    white-space: nowrap; }
  .footer__link {
    text-decoration: none;
    outline: none;
    color: white;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .footer__link:hover {
      color: #2060f6; }
    .footer__link:focus {
      border-bottom: 1px solid #2060f6; }
  .footer__logo {
    background-image: url(../images/Air.svg);
    width: 45px;
    height: 26px;
    background-repeat: no-repeat;
    margin-right: 9vw; }
    @media screen and (max-width: 865px) {
      .footer__logo {
        margin: 0 auto; } }

.contact {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: 460px 1fr;
  justify-items: start; }
  @media screen and (max-width: 865px) {
    .contact {
      grid-template-columns: 1fr;
      justify-items: center; } }
  .contact__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .contact__send {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .contact__form-article {
    font-size: 32px;
    line-height: 150%;
    color: #fff; }
  .contact__input {
    color: white;
    width: 100%;
    height: 80px;
    background-color: #2c2c2c;
    border-style: none none solid;
    outline: none;
    margin-top: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 15px;
    padding-top: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .contact__input:focus {
      border-bottom: 2px solid #2060f6; }
    .contact__input::-webkit-input-placeholder {
      color: #fff; }
    .contact__input::-moz-placeholder {
      color: #fff; }
    .contact__input:-ms-input-placeholder {
      color: #fff; }
    .contact__input::-ms-input-placeholder {
      color: #fff; }
    .contact__input::placeholder {
      color: #fff; }
    @media screen and (max-width: 865px) {
      .contact__input {
        width: 100%; } }
  .contact__button {
    margin-top: 80px;
    width: 228px; }
    @media screen and (max-width: 865px) {
      .contact__button {
        width: 100%; } }
  .contact__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 227px; }
    @media screen and (max-width: 865px) {
      .contact__contact {
        margin-top: 20px;
        text-align: center; } }
  .contact__us {
    color: #ffff;
    font-size: 32px;
    line-height: 150%; }
  .contact__article {
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #ffff;
    opacity: 0.5;
    margin-top: 40px; }
  .contact__link {
    text-decoration: none;
    outline: none;
    color: white;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .contact__link:hover {
      color: #2060f6; }
    .contact__link:focus {
      -webkit-text-decoration: underline #2060f6;
              text-decoration: underline #2060f6; }
  @media screen and (max-width: 865px) {
    .contact__socials {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .contact__socials-link {
    display: inline-block;
    margin: 25px 35px 0 0;
    opacity: 0.3;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    outline: none; }
    @media screen and (max-width: 865px) {
      .contact__socials-link {
        margin: 25px 35px 0; } }
    .contact__socials-link:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      opacity: 1; }
    .contact__socials-link:focus {
      opacity: 1; }

.vision {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .vision__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 754px;
    text-align: center; }
    @media screen and (max-width: 865px) {
      .vision__text {
        width: 100%; } }
  .vision__article {
    font-size: 52px;
    line-height: 150%;
    color: #253757; }
    @media screen and (max-width: 865px) {
      .vision__article {
        font-size: 30px; } }
  .vision__description {
    margin: 24px 0 64px;
    font-size: 24px;
    line-height: 150%;
    color: #6c788b; }
  .vision__button {
    width: 256px;
    margin: 0 auto; }

html {
  font-family: Poppins, sans-serif;
  background: #e5e5e5; }

body,
h1 {
  margin: 0; }

/*# sourceMappingURL=main.css.map */
