.process {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (max-width: 865px) {
    .process {
      grid-template-columns: 300px;
      padding: 5px;
      justify-items: center; } }
  .process__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media screen and (max-width: 865px) {
      .process__text {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 250px; } }
  .process__text-1 {
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #6c788b; }
  .process__text-article {
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: #253757; }
    @media screen and (max-width: 865px) {
      .process__text-article {
        font-size: 20px; } }
  .process__text-2 {
    color: #6c788b;
    font-size: 14px;
    line-height: 150%; }
  .process__frames {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 550px; }
    @media screen and (max-width: 1011px) {
      .process__frames {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
  .process__frame {
    z-index: 1;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 264px;
    height: 264px;
    background-color: #ffff;
    -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
            box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
    border-radius: 16px;
    padding: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .process__frame:nth-child(even) {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
    margin-top: 30px; }
    @media screen and (max-width: 1011px) {
      .process__frame:nth-child(even) {
        -webkit-transform: translateX(0%);
                transform: translateX(0%); } }
  .process__frame:nth-child(odd) {
    -webkit-transform: translateY(80%);
            transform: translateY(80%); }
    @media screen and (max-width: 1011px) {
      .process__frame:nth-child(odd) {
        -webkit-transform: translateX(0%);
                transform: translateX(0%); } }
  .process__frame-text {
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    font-family: open-sans, sans-serif;
    color: #6c788b; }
  .process__frame-number {
    font-weight: 600;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    color: #2060f6;
    height: 24px;
    width: 46px;
    border-radius: 23px;
    background-color: rgba(32, 96, 246, 0.1); }
  .process__button {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border: 1px solid #2060f6;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #2060f6;
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .process__button:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }
  .process__action {
    margin-left: 16px;
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
    color: #334563; }

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

/*# sourceMappingURL=process.css.map */
